body {
  background-color: rgb(235, 235, 235);
}

nav {
  border-bottom: 1px solid black;
  background-color: rgb(190, 45, 45);
  border-color: rgb(255, 255, 255);
  border: 2px;
}

.header {
  margin:auto;
  width: 100%;
  border: 2px solid;
  padding: 0px;
  background-color: rgb(109, 109, 109);
  color: white;
}

.important {
  margin:auto;
  width: 50%;
  border: 2px dashed;
  padding: 10px;
  text-align:center;
  background-color: rgb(192, 53, 53);
  color: white;
}

button {
  border-radius: 50%;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.courses {
  margin:auto;
  width: 50%;
  border: 2px dashed;
  padding: 10px;
  text-align:center;
  background-color: rgb(192, 53, 53);
  color: white;
}
.login {
  margin:auto;
  width: 50%;
  border: 2px dashed;
  padding: 10px;
  text-align:center;
  background-color: rgb(109, 109, 109);
  color: white;

}
.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  content: '-';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border: 20px;
}

.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  float: right;
  padding: 15px;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 17px;
}

.topnav .search-container button {
  float: right;
  padding: 10px 10px;
  margin-top: 14px;
  margin-right: 10px;
  background: rgb(188, 19, 19);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

* {box-sizing: border-box;}

